* {
    box-sizing: border-box;
  }
html{
    font-size: 0.9em;
    color:grey;
}  
main{
    width:900px;
    margin: 2% auto;
}
.row{
    display: flex;
    list-style: none;
    padding: 0;
   
 }
 .col-md-2{
    flex-basis: 25%;
}
 .col-md-3{
     flex-basis: 33.33%;
 }
 .col-md-4{
     flex-basis: 40%;
     margin: 1% 2% 0 2%;
     flex-direction: column;
 }
.col-md-6{
    flex-basis:50%;
    margin: 1% 2% 0 2%;
}
 /**home page styles**/
 .cubic-hp{
     display: flex;
     height:350px;
     align-items: flex-end;
     border-bottom-right-radius: 20px;
 }
 .cubic-hp-1{
    background-image: url("images/1908364606615453350.JPG");
 }
 .cubic-hp-2{
    margin-right:3%;
    background-image: url("images/Picture-046410251500.jpg");
 }
 .cubic-hp-3{
    margin-right:3%;
    background-image: url("images/╫ñ╫צ╫º╫¿_-291_354410564000.jpg");
 }
 .cubic-hp>p{
     background-color: #767776e5;
     margin: 0 2% 2% 8%;
     padding:5%;
     border-bottom-right-radius: 20px;
     min-height: 119px;
 }
 .read-more>a{
    color:white;
    font-size:small;
    display: block;
    text-align: left;
 }
 .read-more>a:hover{
     color:blue;
 }
 .cubic-text{
     color:white;
     font-size:small;
 }


 /** second row of cubic hp **/
 .row2cubic{
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    background-image: linear-gradient(180deg, #FEFEFE, #ECECEC);
    margin-top:3%;
    border:1px solid grey;
    padding: 2%;
 }
 .row2cubic-2, .row2cubic-3{
     margin-right:1.5%;
 }
.row2cubic> .row>h3{
    font-size:0.9em;
    color:grey;
    text-align:center;
    flex-basis: 100%;
    margin:0;
    padding-bottom:5px;
}
.row2cubic-headerLine{
    border-bottom:1px solid grey;
    margin-bottom:2%;
}
.col-md-6>a:after, .more-details >a:after{
     content:"\2977";
     color:rgb(223, 123, 30);
     text-decoration: none;
 }

 .col-md-6>a, .more-details >a {
     color:grey;
     font-size:small;
     text-decoration: underline;
 }
 .col-md-6>a:hover, .more-details >a:hover {
     color:blue;
 }

 .row2cubic-2 > .row > img, .row2cubic > .row > img{
     margin:3%  0 3% 0;
 }

 .more-details{
    display: block;
    text-align: left;
    flex-basis:100%;
 }

 /**contact us page style**/
 aside>ul>li{
    background-image: linear-gradient(180deg, #FEFEFE, #ECECEC);
    list-style-type: none;
    padding: 3%;
    border-top:1px solid grey;
 }
 aside>ul>li:before{
     content:"\261A";
     color:blue;
     height:30px;
 }
.hr{
    border-bottom:1px solid grey;
    flex-basis: 100%;
} 

h4{
    color:#005CA8;
}

.contact-us-form > label{
    width:75px;
    display: inline-block;
}
.contact-us-form > input, .contact-us-form > textarea{
    border: 1px solid #808992;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: grey;
}
.contact-us-form{
    margin: 3% 3%;
}
.contact-us-form > input[type=button]{
    color:white;
    background-image: linear-gradient(180deg, #0798db44, #0799DB);
    display: block;
    flex-basis: 100%;
    border:none;
    height:25px;
    cursor: pointer;
    float: left;
    margin-left:12%;
}
.contact-us-form > input[type=button]:hover{
    background-image: linear-gradient(180deg, #fefefe, #fffb05e8);
    color:#808992;
}

.side-cube{
    margin-top:10%;
}